@media (max-width: 500px) {
  .nav {
    display: block;
    padding: auto;
  }
  .item {
    margin-top: 30px;
  }
  #target {
    width: 100%;
  }
  #personal-info {
    width: 100%;
  }
  .infor {
    display: flex;
    flex-wrap: wrap;
  }
  #job-info {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(200px, 350px);
    gap: 5px;
    height: 100%;
  }
  #cer {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(100px, 250px);
    gap: 15px;
    height: 100%;
  }
}
